.form {
  display: flex;
  justify-content: center;
}

.form label {
  margin-top: 0.5em;
  font-size: 0.9rem;
}

.form input {
  width: 100%;
  font-size: 1.1rem;
}

.form button {
  margin: 10px 30px;
  width: 30%;
  font-size: 1.2rem;
}

.button-form {
  display: flex;
  justify-content: center;
}