.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 62.5%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 62.5%;
}